.search-container{
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    gap:60px;
    padding:90px 30px;
}
.search-wrap {
    position: relative;
    width:800px;
    max-width: 85%;
}
.search-wrap input {
    width: 100%;
    padding: 10px;
    border: 2px solid #fff;
    background: transparent;
    color: #fff;
    font-size: 1em;
}
input:focus{
    outline: none;
    box-shadow: none;
}
.search-lists{
    text-align: center;
}
.search-wrap button{
    position:absolute;
    left: auto;
    right:5px;
    top:50%;
    transform:translateY(-50%);
}
@media only screen and (max-width:980px) {
    .search-container{
        gap:30px;
    }
}
@media only screen and (max-width:767px) {
    .movies-grid a {
        width: 50%;
    }
    .movies-grid {
        display: flex;
        flex-wrap: wrap;
        justify-content: space-between;
    }
    .movieRow--item{
        width: 100%;
    }
}